@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

fieldset {
  border: none;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.pageHeader .inner {
  width: 100%;
  max-width: 1560px;
  padding: 0 60px;
  margin: 0 auto;
}

.around {
  width: 100%;
  max-width: 1480px;
  padding: 0 140px;
  margin: 0 auto;
}

body {
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 1.2;
}

.plus {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.pageHeader {
  padding: 16px 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.pageHeader .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .headerContainer h1 a {
  display: block;
  height: 49px;
}
.pageHeader .headerContainer .gnb ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .headerContainer .gnb ul li {
  font-weight: 600;
  font-size: 15px;
}
.pageHeader .headerContainer .gnb ul a {
  padding: 0 0 0 31px;
}

.line {
  background-color: transparent;
  color: #939292;
}

.visual {
  height: 100vh;
}
.visual img {
  height: 100vh;
}

.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  column-gap: 90px;
}
.contents .box {
  position: relative;
  font-size: 15px;
  line-height: 1.8;
  display: none;
}
.contents .box.open {
  display: flex;
}
.contents .box::before {
  content: url("../images/quote.svg");
  width: 36px;
  display: block;
  position: absolute;
  top: -18px;
  left: -48px;
  transform: scaleY(-1);
}
.contents .box:after {
  content: url("../images/quote.svg");
  width: 36px;
  display: block;
  position: absolute;
  transform: scaleX(-1);
  right: 0;
}
.contents .box h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 38px;
  margin-bottom: 16px;
}
.contents .click {
  width: 70px;
  position: absolute;
  right: 100px;
  bottom: 0;
}
.contents .pics {
  width: 300px;
}

.resume_Container {
  padding: 120px 0;
  text-align: center;
}
.resume_Container img {
  width: 700px;
}

.logo_Container {
  padding-bottom: 150px;
  font-size: 12px;
  color: #7a7a7a;
}
.logo_Container h2 {
  font-size: 18px;
  font-weight: 600;
}
.logo_Container .items .singleItem {
  text-align: center;
  margin-bottom: 70px;
}
.logo_Container .items .singleItem img {
  height: 80px;
}
.logo_Container .boxItems {
  display: flex;
  justify-content: space-evenly;
}
.logo_Container .boxItems div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.logo_Container .boxItems img {
  height: 80px;
}

.projects {
  margin-top: 150px;
}
.projects .boxList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
}
.projects .boxList img {
  width: 540px;
}
.projects .boxList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #7a7a7a;
}
.projects .boxList div h2 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
.projects .boxList div span {
  margin-bottom: 28px;
  font-size: 14px;
}
.projects .boxList div p {
  font-size: 14px;
  line-height: 1.5;
}
.projects .odd {
  margin-top: 140px;
}
.projects .odd img {
  order: 2;
}
.projects .even {
  margin-top: 140px;
  padding-bottom: 150px;
}

.igloo {
  margin: 50px 0 150px;
}

.jason {
  margin: 50px 0 150px;
}

.omakase {
  margin: 50px 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.omakase video {
  width: 100%;
  max-width: 1200px;
}
.omakase .date_choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.omakase .date_choose img {
  width: 500px;
}
.omakase .omakase_reserv, .omakase .omakase_food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  background-color: #000;
}
.omakase .omakase_reserv img, .omakase .omakase_food img {
  width: 468px;
}
.omakase .back {
  background-color: #000;
  height: 350px;
}

.works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0;
  color: #7a7a7a;
}
.works .box {
  text-align: center;
}
.works .box img {
  width: 400px;
}
.works .box h4 {
  margin: 20px 0;
  font-size: 25px;
}

.fit4less {
  margin: 150px 0;
}
.fit4less video {
  width: 100%;
}
.fit4less img {
  margin-top: 50px;
}

.contents {
  position: relative;
}
.contents .frames {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.contents .btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  border-radius: 10px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  transition: 0.4s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}
.contents .btn i {
  margin: 0 15px;
}
.contents .btn:hover {
  width: 200px;
}

.pageFooter {
  border-top: 1px solid #e5e7eb;
  margin-bottom: 20px;
  color: #909090;
}
.pageFooter h3 {
  font-size: 24px;
  text-align: center;
  margin: 40px 0 20px;
}
.pageFooter .footerItems {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
}
.pageFooter .footerItems li {
  column-gap: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageFooter .footerItems li a {
  display: block;
}
.pageFooter .footerItems li img {
  width: 25px;
  vertical-align: middle;
}
.pageFooter .copy {
  text-align: right;
  font-size: 11.5px;
}

/*# sourceMappingURL=common.css.map */
