.around{
    @extend %body;
}
.contents{
    @include flex;
    margin: 40px 30px 0;
    column-gap: 12px;
    position: relative;

    .box{
        &:before{
            content:'';
            background-image: url($imgUrl + 'quote.svg');
            width: 38px;
            height: 30px;
            position: absolute;
            top:0;
        }
        opacity: 0;
        h2{
            font-size: 38px;
            font-weight: 600;
            font-family: 'Abril Fatface', cursive;
            margin-bottom: 28px;
        }
        p{
            line-height: 26px;
        }
        &.open{
            opacity: 1;
        }
    }
    .click{
        opacity: 1;
        transition: all 0.2s;
        width: 100%;
        max-width: 67px;
        &.close{
            opacity: 0;
        }
    }

    .pics{
        flex-basis: 100px;
        flex-shrink: 0;
    }
}

.resume_Container{
    padding:120px 0;
    text-align: center;
    img{
        width: 700px;
    }
}

.logo_Container{
    padding-bottom: 150px;
    font-size: 12px;
    color: #7a7a7a;
    h2{
        font-size: 18px;
        font-weight: 600;
    }
    .items{

        .singleItem{
            text-align: center;
            margin-bottom: 70px;
            img{
                height: 80px;
            }
        }
    }

    
    .boxItems{
        div{
            @include flex;
            flex-direction: column;
            row-gap: 20px;
        }
        img{
            height:80px;
        }
        display: flex;
        justify-content:space-evenly;
    }
}


