.plus{
    position: fixed;
    left:0;top:0;right:0;
}

.pageHeader{
    padding: 16px 0;
    color: #939292;
    
    .inner{
        @extend %header;
    }

    .headerContainer{
      
        @include flex;
        h1 a{
            display: block;
            height:49px;
        }

        .gnb{
            ul{
                @include flex;
                font-size: 18px;

                li{
                    font-weight: 600;
                }
                a{
                    padding: 0  0 0 31px;
                }
            }
            
        }
    }
}
